html
  head
    block title
      title Testing Identity Providers
    link(rel='stylesheet', herf='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/simplex/bootstrap.min.css')
  body
    block content